<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thirtydays.letseat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"  >
        <activity
            android:name="com.thirtydays.letseat.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
      		android:name="com.thirtydays.letseat.EatInActivity"
      		android:configChanges="orientation"
      		android:label="Find a Meal"
      		android:screenOrientation="portrait"
      		android:parentActivityName="com.thirtydays.letseat.MainActivity"  >
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.thirtydays.letseat.MainActivity" />
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
      		android:name="com.thirtydays.letseat.EatOutActivity"
      		android:configChanges="orientation"
      		android:label="Find a Place"
      		android:screenOrientation="portrait"
      		android:parentActivityName="com.thirtydays.letseat.MainActivity" >
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.thirtydays.letseat.MainActivity" />
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
      		android:name="com.thirtydays.letseat.AddMealActivity"
      		android:configChanges="orientation"
      		android:label="Add a Meal"
      		android:screenOrientation="portrait"
      		android:parentActivityName="com.thirtydays.letseat.EatInActivity" >
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.thirtydays.letseat.EatInActivity" />
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
      		android:name="com.thirtydays.letseat.SeeMealListActivity"
      		android:configChanges="orientation"
      		android:label="@string/app_name"
      		android:screenOrientation="portrait" >
            <intent-filter>
            </intent-filter>
        </activity>
    </application>

</manifest>
